@import "../../utils/mixins";
@import "../../utils/variable";

.btn {
  background-image: none !important;
  white-space: nowrap;
  &:hover,
  &:active,
  &:active:not([disabled]) {
    background-image: none !important;
    box-shadow: none !important;
  }
  &:focus {
    outline: 0 !important;
  }
  .select + & {
    margin-left: 7px;
  }
}
.btn.btn_ty1 {
  @include btnColor($bgcolor-light, $bgcolor-light-ty3, $color-base);
  @include btnStyle(77px, 36px, 3px, 14px);
  &:hover,
  &:active,
  &:active:not([disabled]) {
    border-color: $bgcolor-primary;
  }
  &:disabled {
    color: $color-disabled;
  }
}
