// font color
$color-base: #000;
$color-primary: #00dee0;
$color-secondary: #222;
$color-secondary-ty2: #989898;
$color-secondary-ty3: #17232c;
$color-secondary-ty4: #393c42;
$color-info: #666;
$color-info-ty2: #484a4f;
$color-info-ty3: #6d7278;
$color-info-ty4: #999;
$color-success: #038398;
$color-muted: #abadb2;
$color-danger: #ff5b59;
$color-light: #fff;
$color-disabled: rgba(0, 0, 0, 0.3);
$color-disabled-ty2: rgba(0, 0, 0, 0.25);

// background color
$bgcolor-base: #000;
$bgcolor-primary: #00dee0;
$bgcolor-primary-ty2: #15e1e3;
$bgcolor-primary-ap: #ed6660;
$bgcolor-secondary: #222;
$bgcolor-secondary-ty2: #989898;
$bgcolor-danger: #ff5b59;
$bgcolor-light: #fff;
$bgcolor-light-ty2: #f2f3f7;
$bgcolor-light-ty3: #d3d3d3;
$bgcolor-light-ty4: #dee0e7;
$bgcolor-light-ty5: #eaeaea;
$bgcolor-light-ty6: #c7c9d0;
$bgcolor-light-ty7: #fafafa;
$bgcolor-light-ty8: #fafafc;
$bgcolor-disabled-ty2: rgba(0, 0, 0, 0.25);
$bgcolor-upcomming: rgba(34, 34, 34, 0.9);
